.container{
    height: 560px;
    /*background-color: let(--main-background-color);*/
    /*color: var(--main-color);*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.selector_holder{
    margin: 20px;
    display: flex;

}
input{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    font-size: 28px;
    text-align: center;
}
select{
    height: 60px;
    box-sizing: border-box;
    font-size: 28px;
    text-align: center;
}