.container{
    width: 100%;
    background-color: rgba(4, 248, 146, 0.63);
    border: 5px solid black;
    color: #1a1919;
}
.currency_holder{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}
.ua{
    margin: 0 5%;
    display: flex;
    justify-content: center;
}
.ua:hover{
    transform: scale(1.1, 1.1)
}

.uahrevert{
    transform: scale(1, -1)
}
@media(max-width: 920px){
    .currency_holder{
        font-size: 20px;
    }
}
@media(max-width: 650px){
    .currency_holder{
        font-size: 16px;
    }
}